{
  parserOptions: { parser: "@typescript-eslint/parser" },
  "extends":
    [
      "airbnb-base",
      "plugin:@typescript-eslint/recommended",
      "prettier",
      "prettier/@typescript-eslint",
    ],
}
