.accelerated {
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

body,
html {
  font-family: sans-serif;
  height: 100%;
  min-height: 100%;
  text-align: center;
}

body {
  background-image: linear-gradient(#ced8dd, #9bb1c1);
  color: #666;
}

p {
  margin: 12px 0;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 17rem;
  height: 18rem;
  text-align: center;
  color: #fff;
  padding: 1rem;
  margin: 15rem 1rem 0;
}

.card-content-placeholder,
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: auto 100%;
  background-position: center;
  box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.9);
  border-radius: 0.5rem;
}
.card-content-placeholder {
  background: white;
}

.details-title,
.card-title {
  display: inline-block;
  font-weight: 100;
  margin: 0;
  color: #fff;
}

.card-content-placeholder {
  z-index: -2;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.1);
}

.card-content {
  position: relative;
  z-index: 1;
  border-radius: 0.25rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 19rem;
  height: 12rem;
  margin: -4rem 1rem 1rem;
  padding: 1rem;
  font-size: 14px;
  text-align: left;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.details {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60rem;
  width: 100%;
}

.details-image {
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 24rem;
}

.details-title {
  z-index: 3;
  display: block;
  text-align: center;
  margin-top: -4rem;
  margin-bottom: 1rem;
}

.details-content {
  position: relative;
  z-index: 1;
  padding: 1rem;
}

.details-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 3;
}

.details-content-placeholder {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.users {
  display: flex;
  margin: 1rem -2rem -1rem;
  padding: 1rem 2rem 0;
}

.separator {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  margin: 0 -2rem -1rem;
}

.users-item {
  display: block;
  margin-right: -0.5rem;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.users-image {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.9);
}

.users-image--lg {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

.p1 {
  padding: 1rem;
}

.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}

.c-white {
  color: #fff;
}

.l-inline-block {
  position: relative;
  display: inline-block;
}

.l-flex {
  display: flex;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  cursor: pointer;
}

.text-container > span {
  margin: 0 0.1em;
}

.text-container--small {
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  width: 200px;
}
