body {
  font-family: sans-serif;
  text-align: center;
  background-color: #444;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
	color: currentColor;
}

.from,
.to,
.three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.from {
  background: #660;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.to {
  background: #606;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.three {
  background: #066;
  width: 500px;
  height: 10px;
}

.hide {
  visibility: hidden;
}

[data-rm] {
  /* border: 1px solid #0ff; */
}

.rm-cloned {
}
.rm-cloned [data-rm] [data-rm] {
  opacity: 0 !important;
  /* border: 1px dotted #f00; */
}

.avatar {
  background: #800;
  width: 50px;
  height: 50px;
	border-radius: 100px;
	margin-right: 1rem;
}

.container {
	display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}

.container--lg {
	padding: 10rem 2rem;
  min-width: 30vw;
}
